<h1>ADA WONG HOME PAGE</h1>
<h2>{{ .Name }}</h2>
<h2>wtf is that?</h2>
vcl cái build ngu vãi c

{{template "Header"}}
{{template "Header"}}
{{template "Header"}}


{{define "Header"}}
đây là Header
{{end}}